/* Styles go here */

h1 {
  text-align: center;
}

#date, #location {
  text-align:center;
}

#apply {
  text-align:center;
}

#big_question {
  font-style:italic;
  font-size:150%;
}

body {
    background-color: aqua;
}

.typeform-share button{
    text-align: center;
}

.container {
text-align: center;
}

.center-element {
width: 100px;
text-align: left;
}


